nav {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 65px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background: #111;
  color: #fff;
}

nav ul {
  list-style: none;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
}

.box {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  border: 1px solid #111;
  font-size: 8vw;
  cursor: pointer;
}

.box:hover {
  background-color: #eee;
}

.gameinfo {
  padding: 0 34px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100px;
  transition: 0.5s ease-in-out;
}

.imgwidth {
  width: 250px;
}

.reset-btn {
  width: 80px;
  margin: 15px;
  font-size: 20px;
  font-family: "Baloo Bhaina 2", cursive;
  background-color: lightblue;
}

.line {
  height: 5px;
  width: 0;
  position: absolute;
  background-color: #911d91;
  transition: width 0.5s ease-in-out;
}

.linewidth {
  height: 5px;
  width: calc(1rem + 22vw);
  position: absolute;
  background-color: #911d91;
  transition: width 0.5s ease-in-out;
}

.linewidthremove {
  width: 0;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.you-win {
  visibility: hidden;
  font-size: 32px;
  font-weight: 800;
}

.bt-0 {
  border-top: none;
}
.bl-0 {
  border-left: none;
}
.br-tl {
  border-radius: 89px;
}
.d-inline {
  display: inline;
}
.br-0 {
  border-right: none;
}
.bb-0 {
  border-bottom: none;
}

.boxtext {
  height: 50px;
}

.d-block {
  display: block;
}

.visible {
  visibility: visible;
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
